{% extends "UnoegohhShopBundle:Default:index.html.twig" %}

{% block main %}

    <div class="clearfix"></div>
    <header class="page-header">
        <div class="container">
            <h1 class="title">{{ product.name }}</h1>
        </div>
    </header>

    <div class="container">
    <div class="row">
    <article class="col-sm-12 col-md-9 content product-page pull-right">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <div class="image-box">
                <a class="img-thumbnail img-rounded lightbox" rel="fancybox" href="{{ product.photos[0].url }}" style="width:345px; text-align: center">
                    <img src="{{ product.photos[0].url }}" alt="" title="" style="max-height: 400px">
                    <span class="bg-images"><i class="fa fa-search"></i></span>
                </a>
                <div class="thumblist-box">
                    <a href="#" class="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
					<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="8,15.999 9,14.999 2,8 9,1.001 8,0.001 0,8 "></polygon>
				  </svg>
                    </a>
                    <a href="#" class="next">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
					<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="1,0.001 0,1.001 7,8 0,14.999 1,15.999 9,8 "></polygon>
				  </svg>
                    </a>

                    <div id="thumblist" class="thumblist">
                        {% for pic in product.photos %}
                            {% if loop.index != 1 %}
                            <a class="img-thumbnail img-rounded lightbox" rel="fancybox" href="{{ pic.url }}" style="width:100px; text-align: center;">
                                <img src="{{ pic.url }}" alt="" title="" style="max-height: 90px;text-align: center">
                                <span class="bg-images"><i class="fa fa-search"></i></span>
                            </a>
                                {% endif %}
                        {% endfor %}
                    </div><!-- #thumblist -->
                    <style>
                        #thumblist .img-thumbnail {
                            position: relative;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            font: 0/0 a;

                            text-align:center;
                        }
                        #thumblist .img-thumbnail:before {
                            content: ' ';
                            display: inline-block;
                            vertical-align: middle;
                            height: 100%;
                        }
                        .description{
                            color:rgb(51, 51, 51) !important;
                            font-family:arial;
                            font-weight: bold;
                            font-size:12px;
                            line-height:18px;
                        }
                    </style>
                </div><!-- .thumblist -->
            </div>
        </div>

        <div class="col-sm-7 col-md-7">

            <div class="description">
                {{ product.description | raw  }}
            </div>

            <div class="price-box">
                <span class="price">{{ itemPriceBoost(product) |number_format(2, '.', ' ')}} руб</span>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>


    <div class="clearfix"></div>

    </article><!-- .content -->

    <div id="sidebar" class="sidebar col-sm-12 col-md-3">
        <aside class="widget menu">
            <header>
                <h3 class="title">Категории</h3>
            </header>
            <nav>
                <ul>
                    <ul>
                        {% for cat in categories %}
                            {% if cat.getChild | length == 0 %}
                                <li>
                                    <a href="{{ path('unoegohh_shop_category',  {"categoryId" : cat.id}) }}">{{ cat.name }}</a>
                                </li>

                            {% endif %}
                            {% if cat.getChild | length > 0 %}
                                <li class="parent {% if category.Id == cat.Id or category.GetChildId().Id == cat.Id %} active{% endif %}">
                                    <a href="{{ path('unoegohh_shop_category',  {"categoryId" : cat.id}) }}"><span class="open-sub"></span>{{ cat.name }}</a>
                                    <ul class="sub">
                                        {% for cat in cat.child %}
                                            <li {% if cat.Id == category.Id %} class="active"{% endif %}>
                                                <a href="{{ path('unoegohh_shop_category',  {"categoryId" : cat.id}) }}">{{ cat.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </ul>
            </nav>
        </aside><!-- .menu-->


    </div><!-- #sidebar -->
    </div>
    </div>{% endblock %}